.header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    to right,
    rgba(65, 1, 121, 1),
    rgba(65, 1, 121, 0.696)
  );
}


.header-btn {
  display: flex;
  align-items: center;
  color: azure;
  height: 100%;
}

.header-logo {
  height: 80px;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.header__left-btn {
  max-width: 100px;
  border-left: 2px black solid;

  :hover {
    background-color: rgba(150, 10, 92, 0.6);
    transition: 0.4s;
    cursor: pointer;
  }
}

.header__left-end {
  border-right: 2px black solid;
}

.max-btn {
  height: 100%;
}


.header__right-btn {
  max-width: 160px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  border-left: 2px black solid;

  :hover {
    background-color: rgba(150, 10, 92, 0.6);
    transition: 0.4s;
    cursor: pointer;
  }
}
